#
####### example-requirements.txt #######
#
###### Requirements without Version Specifiers ######
robomaster
#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
numpy >= 1.18
opencv-python >= 4.2
netaddr >= 0.8
netifaces >= 0.10
#
###### Refer to other requirements files ######
#-r other-requirements.txt
#
#
###### A particular file ######
#./downloads/numpy-1.9.2-cp34-none-win32.whl
#http://wxpython.org/Phoenix/snapshot-builds/wxPython_Phoenix-3.0.3.dev1820+49a8884-cp34-none-win_amd64.whl
#
###### Additional Requirements without Version Specifiers ######
#   Same as 1st section, just here to show that you can put things in any order.
#
